<script >
    tt_cancel_destination = "/Report/data_cleaning"
</script>
<%= javascript_include_tag 'jquery' %>
<%= stylesheet_link_tag 'extra_buttons' %>

<script type="text/javascript">
  jQuery(document).ready(function($) {
  document.getElementById('finishButton').innerHTML= "<span>Back<span>";
  }) 
</script>


<title> Hello</title>

<div align ='center' height='300px' style="position:absolute; top:50px">
<%= @report_type %>
</div>
