<script>
  var tt_cancel_destination = "/clinic"
</script>
<form id='next_day' action="/admin/move_everything_to_previous_day" method='post'>
	
  <!--%= select_tag 'move_everything_to_previous_day', options_for_select([['NO','NO'],['YES','YES']]), {
    :textCase => "upper", 
    :allowFreeText => 'false',
    :helpText => "Set all dates (encounters,programs) to previous day?"}%-->

  <%= submit_tag "Finish" %>    
</form>