<style type="text/css">
  /* TEMP, move out of here! */
  .options {
    height:8em;
  }
</style>
<script>
  var tt_cancel_destination = "/patients/programs/<%= @patient.patient_id %>"  
</script>
<form id='program' action="/programs/create" method='post'> 
  <%= hidden_field_tag :patient_id, @patient.id %>

  <%= select_tag 'patient_program[program_id]', options_for_select(
    Program.active.all.inject({}){|result, element| result[element.name] = element.program_id; result }, nil), 
    {:helpText => "Select Program"} %> 

</form>
