<script>
  var tt_cancel_destination = "/patients/show/<%= @patient.patient_id %>"

   function showTaskName(){
    $('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary"><div><span class="title" style="font-size:40px;">Next Task: ART Enrollment</span></div></div>' 
  }
</script> 
<!--.........TODO...........
This is referred to as ART Enrollment/HIV Visit in the specs

Concepts - mostly in caps
Skip logic - implement and verify
Get @answer_array_values
Check multi select especially on WHO staging conditions
Change the date fields to 3tier date

-->
<% if @patient.patient_programs.current.local.map(&:program).map(&:name).include?('HIV PROGRAM') %>
  <div class="inputPage NoKeyboard" id="page" style="display: block;">
    <div id="trigger"></div>
    <div id="infoBar" class="infoBarClass"></div>
    <label id="helpText" class="helpTextClass" for="">This patient has already been initiated in the HIV program at this location</label>
  </div>
  <div id="buttons" class="buttonsDiv" style="top:456;">
    <div id="tt_extraButtons"></div>
    <button onmousedown="window.location=tt_cancel_destination;" id="cancelButton" class="button navButton red"><span>Cancel</span></button>
  </div>  
  <script>
		setTimeout("window.location=tt_cancel_destination;", 5000);
  </script>
<% else %>
<form id='appointment' action="/encounters/create" method='post'>
  <%= hidden_field_tag "encounter[encounter_type_name]", "ART ENROLLMENT" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

  <%= text_field_tag :task_name, nil, { :tt_onLoad => "showTaskName()", :optional => "true", :tt_pageStyleClass => "NoControls", :helpText => 'Task'} %>

  <%= touch_yes_no_unknown_tag "EVER REGISTERED AT ART CLINIC", @patient, nil,
    {:id => "ever_registered_at_art_clinic",
     :helpText => "Ever registered at ART clinic?" } %>
  
  <%= touch_yes_no_unknown_tag "EVER RECEIVED ART", @patient, nil,
    {:id => "ever_received_art",
     :helpText => "Ever received ARVs" } %>
  
  <%= touch_yes_no_unknown_tag "WILLING TO REGISTER AT CURRENT CLINIC", @patient, nil,
    {:id => "willing_to_register_at_clinic",
      :helpText => "Willing to enroll for ART at MPC?" } %>

  <!--System stops here and continues to next encounter(HEIGHT/WEIGHT) if willing to register at this clinic == 'NO'   -->
  
  <%= touch_select_tag "LAST ART DRUGS TAKEN", @patient, options_for_select(@arv_drugs),
    {:id => "last_art_drugs_taken",
     :condition => '$("ever_received_art").value.toUpperCase() == "YES"&&$("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :tt_pageStyleClass => "NoKeyboard",
     :helpText => "Last ART drugs taken" } %>
     
  <%# absolute_min = session[:datetime].to_date rescue Date.today %>

  <%= text_field_tag "date_art_first_taken_year", nil, {:helpText => 'Year ART first taken', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersOnly", :condition => '$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}  %>

  <%= select_tag "date_art_first_taken_month", month_name_options, {:helpText => 'Month ART first taken', :condition => '$("ever_received_art").value.toUpperCase() == "YES";$("date_art_first_taken_year").value.toLowerCase() != "unknown";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}%>

  <%= text_field_tag "date_art_first_taken_day",  nil, :field_type => 'number', :helpText => 'Day ART first taken', :condition => '($("date_art_first_taken_year").value != "Unknown") && ($("date_art_first_taken_month").value != "Unknown");$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"', :tt_onLoad => "getDayOfMonthPicker($('date_art_first_taken_year').value, $('date_art_first_taken_month').value)" %>

  <%#= touch_date_tag "DATE ART FIRST TAKEN", @patient, nil,
    {:id => "date_art_first_taken",
     #:absoluteMin => absolute_min,
     :absoluteMax => Date.today,
     :condition => '$("ever_received_art").value.toUpperCase() == "YES"',
     :helpText => "Date ART first taken"} %>
     
  <%# absolute_min = session[:datetime].to_date rescue Date.today %>

  <%= text_field_tag "date_art_last_taken_year", nil, {:helpText => 'Year ART Last taken', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersOnly",:condition => '$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}  %>

  <%= select_tag "date_art_last_taken_month", month_name_options, {:helpText => 'Month ART Last taken', :condition => '$("date_art_last_taken_year").value.toLowerCase() != "unknown";$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}%>

  <%= text_field_tag "date_art_last_taken_day",  nil, :field_type => 'number', :helpText => 'Day ART Last taken', :condition => '($("date_art_last_taken_year").value != "Unknown") && ($("date_art_last_taken_month").value != "Unknown");$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"', :tt_onLoad => "getDayOfMonthPicker($('date_art_last_taken_year').value, $('date_art_last_taken_month').value)" %>

  <%#= touch_date_tag "DATE ART LAST TAKEN", @patient, nil,
    {:id => "date_art_last_taken",
     #:absoluteMin => absolute_min,
     :absoluteMax => Date.today,
     :condition => '$("ever_received_art").value.toUpperCase() == "YES"',
     :helpText => "Date ART last taken"} %>
     
  <%= touch_yes_no_tag "HAS TRANSFER LETTER", @patient, nil,
    {:id => "has_transfer_letter",
     :condition => '$("ever_received_art").value.toUpperCase()  == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :helpText => "Has transfer letter?"} %>
     
  <%= touch_location_tag "SITE TRANSFERRED FROM", @patient, nil,
    {:id => "site_transferred_from",
     :condition => '$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :helpText => "Site transferred from" } %>
     
  <%= touch_text_field_tag "ART NUMBER AT PREVIOUS LOCATION", @patient, nil,
    {:id => "previous_art_number",
     :condition => '$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :helpText => "ART number at previous location" } %>

     <%= text_field_tag "art_initiation_date_year", nil, {:helpText => 'Year of ART initiation', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersOnly", :condition => '$("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}  %>

  <%= select_tag "art_initiation_date_month", month_name_options, {:helpText => 'Month of ART initiation', :condition => '$("art_initiation_date_year").value.toLowerCase() != "unknown";$("ever_received_art").value.toUpperCase() == "YES" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}%>

  <%= text_field_tag "art_initiation_date_day",  nil, :field_type => 'number', :helpText => 'Day of ART initiation', :condition => '($("art_initiation_date_year").value != "Unknown") && ($("art_initiation_date_month").value != "Unknown") && $("ever_received_art").value.toUpperCase() == "YES";$("willing_to_register_at_clinic").value.toUpperCase() != "NO"', :tt_onLoad => "getDayOfMonthPicker($('art_initiation_date_year').value, $('art_initiation_date_month').value)" %>

     
  <%#= touch_date_tag "DATE OF ART INITIATION", @patient, nil,
    {:id => "art_initiation_date",
    :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO'",
    :absoluteMax => Date.today,
    :helpText => "Date of ART initiation"} %>
     
  <%= touch_location_tag "LOCATION OF ART INITIALIZATION", @patient, nil,
    {:id => "location_of_art_initialization",
     :condition => '$("ever_received_art").value.toUpperCase() == "YES" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :helpText => "Location of ART initiation" } %>
     
  <% if @patient.person.gender == 'F' && @patient.person.age > 15 %>
    <%= touch_yes_no_tag "PREGNANT AT ART INITIATION", @patient, nil,
      {:id => "pregnant_at_art_initiation",
       :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO' && $('ever_received_art').value.toUpperCase() == 'YES'",
       :helpText => "Pregnant at ART initiation?" } %>
  <% end %>  
  
  <%= touch_text_field_tag "HEIGHT AT ART INITIATION", @patient, nil,
    {:id => "height_at_art_initiation",
     :condition => '$("ever_received_art").value.toUpperCase() == "YES" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :field_type => 'number',
     :helpText => "Height when ART was started" } %>
     
  <%= touch_text_field_tag "WEIGHT AT ART INITIATION", @patient, nil,
    {:id => "weight_at_art_initiation",
     :condition => '$("ever_received_art").value.toUpperCase()  == "YES" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :field_type => 'number',
     :helpText => "Weight when ART was started" } %>

  <%= touch_select_tag "WHO STAGE I CONDITIONS", @patient, options_for_select(@select_options['who_stage1']),
    {:id => "who_stage_one_conditions",
     :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO'",
     :tt_pageStyleClass => "NoKeyboard",
     :optional => true,
     :multiple => "true",
     :helpText => "WHO stage 1 conditions" } %>

  <%= touch_select_tag "WHO STAGE II CONDITIONS", @patient, options_for_select(@select_options['who_stage2']),
    {:id => "who_stage_two_conditions",
     :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO'",
     :tt_pageStyleClass => "NoKeyboard",
     :optional => true,
     :helpText => "WHO stage 2 conditions" } %>

  <%= touch_select_tag "WHO STAGE III CONDITIONS", @patient, options_for_select(@select_options['who_stage3']),
    {:id => "who_stage_three_conditions",
     :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO'",
     :tt_pageStyleClass => "NoKeyboard",
     :optional => true,
     :helpText => "WHO stage 3 conditions" } %>
     
  <%= touch_select_tag "WHO STAGE IV CONDITIONS", @patient, options_for_select(@select_options['who_stage4']),
    {:id => "who_stage_four_conditions",
     :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO'",
     :tt_pageStyleClass => "NoKeyboard",
     :optional => true,
     :helpText => "WHO stage 4 conditions" } %>

  
  <%= touch_yes_no_unknown_tag "CD4 COUNT AVAILABLE", @patient, nil,
    {:id => "cd4_count_available",
     :condition => "$('willing_to_register_at_clinic').value.toUpperCase() != 'NO'",
     :helpText => "CD4 count available?" } %>

     <%= text_field_tag "cd4_most_recent_sample_collection_year", nil, {:helpText => 'Lab - CD4 most recent sample collection Year', :field_type => 'number', :absoluteMin => "1890", :min => "1940", :absoluteMax => Date.today.year, :tt_pageStyleClass => "Numeric NumbersOnly", :condition => '$("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}  %>

  <%= select_tag "cd4_most_recent_sample_collection_month", month_name_options, {:helpText => 'Lab - CD4 most recent sample collection Month', :condition => '$("cd4_most_recent_sample_collection_year").value.toLowerCase() != "unknown" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"'}%>

  <%= text_field_tag "cd4_most_recent_sample_collection_day",  nil, :field_type => 'number', :helpText => 'Lab - CD4 most recent sample collection Day', :condition => '($("cd4_most_recent_sample_collection_year").value != "Unknown") && ($("cd4_most_recent_sample_collection_month").value != "Unknown");$("willing_to_register_at_clinic").value.toUpperCase() != "NO"', :tt_onLoad => "getDayOfMonthPicker($('cd4_most_recent_sample_collection_year').value, $('cd4_most_recent_sample_collection_month').value)" %>


  <%#= touch_date_tag "CD4 MOST RECENT SAMPLE COLLECTION DATE", @patient, nil,
    {:id => "cd4_most_recent_sample_collection_date",
     #:absoluteMin => absolute_min,
     :absoluteMax => Date.today,
     :condition => '$("cd4_count_available").value.toUpperCase() == "YES"',
     :helpText => "Lab - CD4 most recent sample collection date"} %>

  <%= touch_text_field_tag "CD4 COUNT", @patient, nil,
    {:id => "cd4_count",
     :condition => '$("cd4_count_available").value.toUpperCase() == "YES" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :field_type => 'number',
     :helpText => "CD4 Count" } %>

  <%= touch_numeric_tag "CD4 PERCENTAGE", @patient, nil,
    {:id => "cd4_percentage",
     :condition => '$("cd4_count_available").value.toUpperCase() == "YES" && $("willing_to_register_at_clinic").value.toUpperCase() != "NO"',
     :field_type => 'number',
     :helpText => "CD4 Percentage" } %>

  <%= submit_tag "Finish" %>    
</form>
<% end %>
