production:
  adapter: mysql
  database: openmrs_tbart
  username: root
  password: m4t3m3
  host: localhost

development:
  adapter: mysql
  database: openmrs_tbart
  username: root
  password: m4t3m3
  host: localhost

test: &TEST
  adapter: mysql
  database: bart2_test
  username: root
  password: password
  host: localhost

cucumber:
  <<: *TEST
