<%= javascript_include_tag "touchscreen" %>
<%= stylesheet_link_tag fancy_or_high_contrast_touch %>

<style type="text/css">
        .personal-details-label {
          font-weight:bold;
        }
        #personal-details{
          font-size: 1em;
          height: 150px;
          max-width: 720px;
          margin: 5px;
          overflow: auto;
        }

        #menu {
          float: right;
          height: 680px;
          overflow: auto;
          width: 253px;
          border: thin solid #EEEEEE;
          margin-right: 5px;
          margin-top: 5px;
        }
        .menu-button{
          width:245px;
        }
        #visit-summary{
          background: none repeat scroll 0 0 white;
          margin-top: 10px;
          float: left;
          height: 236px;
          width: 276px;
        }
      </style>
<base target="_parent">
<div id="tab">
  <div id="history" style="float:left;width:500px;margin-top:5px;">
    <div id="programs" class="panel">
      <!-- h2>Programs</h2 -->
      <ul class="list small" style="height:140px;">



          <li class="data even">
            <div class="program">There are no current programs for this patient</div>
          </li>
        <!-->

      </ul>
    </div>
    <div id="treatment" class="panel">
      <!-- h2>Treatment</h2 -->
      <ul class="list small" style="height:140px;">


          <li class="data even">
            <div class="prescription">There are no current prescriptions for this patient</div>
          </li>

      </ul>

    </div>
    <div id="charts" class="panel" style="height:235px;">
    </div>
  </div>
  <div id="today" style="margin-top:5px; border: 1px solid #000;">
    <div id="alerts" class="panel">
      <!-- h2>Alerts</h2 -->
      <ul class="list small" style="height:139px;">


        <li class="data even">

          <div class="alert">There are no alerts for this patient</div>
        </li>

      </ul>
    </div>
    <div id="encounters" class="panel" style="float:right;">

      <h2>Today's Visit (possibly filtered)</h2>
      <ul class="list" style="clear:both;">

          <li class="data even" encounter="8">

            <div class="void"><img src="/images/cancel_flat_small.png"/></div>
            <div class="encounter">Registration at 10:34</div>
          </li>

      </ul>
      <p></p>
      <ul id="observations" class="list small" style="height: 230px;">
      </ul>
    </div>
  </div>

</div>
</base>
