<script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script>

<%= stylesheet_link_tag 'extra_buttons' %>

<table id="tcontent" style="margin-left: 350px;" >
  <tr>
    <td>
      <button class="button blue"  onclick="window.location='/clinic/users'" style="margin: 5px,50px,0px; min-width: 300px"><span> User Accounts/Settings </span></button> <br/>
      <button class="button blue"  onclick="window.parent.location='/drug/management'" style="margin: 5px,50px,0px; min-width: 300px"><span> Drug Management </span></button>
    </td>
  </tr>
</table>
