<%= render :partial => 'clinic/nav', :locals => {:active => 'administration'} %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script>

<%= stylesheet_link_tag 'extra_buttons' %>
    <table id="tcontent" >
            <% @reports.each do |path,report_name| %>
                    <tr>
                      <td><a href="<%="#{path}?&dashboard=#{@landing_dashboard}"%>" class='report_button'><%=report_name%></a></td>
                    </tr>
            <%end%>
    </table>

