<script language="javascript">
  tt_cancel_destination = "/logout";
  tt_cancel_show = "/people/search";
  tstSuppressBarcode = false;
</script>

<div id="home">
  <div id="project_name"><span style="font-size: 0.4em;">TB-ART</span></div>
  <div id="facility"><%= Location.current_health_center.name %></div>
  <div id="location"><%= Location.current_location.name %></div>
  <div id="date"><%=system_date%></div>
  <div id="user"><%= User.current_user.username %></div>
  <select id="tabs">
    <option value='/clinic/overview' target="_parent">Overview</option>
    <option value='' target="_parent">Users</option>
  </select>

  <select id="links">
    <option value="" ttSize="190px">Logout</option>
    <option value="" ttSize="190px">Find Name</option>
    <% if User.current_user.admin? %>
      <option value="/people/set_datetime" ttSize="190px">Set Date</option>
    <%end%>
  </select>
</div>

