<%= render :partial => 'clinic/nav', :locals => {:active => 'reports'} %>
<script type="text/javascript">
//  jQuery(document).ready(function($) {
//  }) 
</script>

<table id="tab_content">
<% @reports.each do |name,path| %>
<tr>
  <td><a href="<%=path%>" class='report_button'><%=name%></a></td>
</tr>
<%end rescue nil%>
</table>
