<%= render :partial => 'clinic/nav', :locals => {:active => 'supervision'} %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script>
<table id="tab_content">
<% @supervision_tools.each do |report_name,report_type| %>
<tr>
  <td><a href="<%="/cohort_tool/select?report_type=#{report_type}&dashboard=#{@landing_dashboard}"%>" class='report_button'><%=report_name%></a></td>
</tr>
<%end rescue nil%>
</table>


